.pad {
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;

}

.kick>.on {
    background-color: #FFA5AB;
}

.clap>.on {
    background-color: #FFA5AB;
}

.closedhh>.on {
    background-color: #FFA5AB;
}

.tom>.on {
    background-color: #6CD4FF;
}

.cowbell>.on {
    background-color: #FFA5AB;
}

.openhh>.on {
    background-color: #FFA5AB;
}

.snare>.on {
    background-color: #FFA5AB;
}

.tamb>.on {
    background-color: #FFA5AB;
}



.panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}

#headers>div {
    height: 25px;
    text-align: right;
    padding-right: 8px;
}

.panel-highlight {
    background-color: #CFBFF7;
}

.container {
    display: grid;
    grid-template-columns: 110px 160px 160px 160px 160px;
    border: 1px solid gray;
    width: 750px;
}

.bar {
    display: flex;
    flex-direction: row;
    border-left: 1px solid gray;
    justify-content: space-evenly;
}

#play-stop {
    height: 60px;
    width: 60px;
    font-size: 30px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
}

#tempo-slider {
    padding: 10px;
}

#tempo-controls {
    margin: 20px;
}